xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
project.xcworkspace/
UserInterfaceState.xcuserstate
*.xcuserstate
*.xcscmblueprint
DerivedData/
*.ipa
*.hmap
*.DS_Store
.swiftpm
profile
*.moved-aside
