.build/
.swiftpm/
DerivedData/
project.xcworkspace/
xcuserdata/
*.DS_Store
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xcscmblueprint
*.xcuserstate
UserInterfaceState.xcuserstate
profile
repomix-output.xml